services:
    script:
        build:
            context: .
            dockerfile: Dockerfile.compose-example
        depends_on:
            - redis

    redis:
        image: redis:alpine
        ports:
            - "6379:6379"
        restart: always